* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 1em;
  min-height: 1200px;
}

.title {
  text-decoration: underline;
  text-transform: uppercase;
}

.body {
  border: 1px solid #000;
  width: 350px;
  margin-top: 2rem;
  padding: 1em;
}

.static {
  position: static;
}
